
<div>
  <nav *ngIf="this.headerState.showHeader">
    <button mat-raised-button routerLink="/login" class="button">Logout 
      <mat-icon>logout</mat-icon>
    </button>

    <button mat-raised-button routerLink="/history" class="button">History
      <mat-icon>history</mat-icon>     
    </button>

    <button mat-raised-button routerLink="/upload" class="button">Upload
      <mat-icon>image</mat-icon>     
    </button>
  </nav>
  <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>

