<body >
    
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card  fxFlex="60">
       
    <mat-grid-list cols="2">
        <mat-grid-tile>
        
            <img mat-card-image src="assets/image/avatar1.png" alt="Avatar" fxFlex="50" >
       
        </mat-grid-tile>

        <mat-grid-tile>
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="profileForm" >
            <h1>User Login</h1>
            <mat-form-field>
              <input matInput placeholder="UserId" formControlName="username">
              <mat-icon matPrefix>mail</mat-icon>
            </mat-form-field>
             <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">
              <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
        
          <button mat-raised-button class="btn"  type="submit" (click)="login()" >Login</button>
          <br>
          <label> Forgot Username/Password?</label>
        
        </form>
     
        </mat-grid-tile>
    </mat-grid-list>
    </mat-card>

</div>
</body>