body{
    background-color: blue;
    background-image:
      linear-gradient(
        to top right, 
        blue, purple
      );
}
.btn{
    background-color: green;
    border-radius: 12px;
    color: white;
}