<div class="centered">
    <table mat-table [dataSource] ="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Select</th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox ></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td  mat-cell *matCellDef="let element">{{element[0]}}</td>
        </ng-container>

        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef> Size </th>
            <td mat-cell *matCellDef="let element">{{element[1]}}</td>
        </ng-container>

        <ng-container matColumnDef="recognition">
            <th mat-header-cell *matHeaderCellDef> Recognition </th>
            <td mat-cell *matCellDef="let element">{{element[2]}}</td>
        </ng-container>

        <ng-container matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef> Download </th>
            <td mat-cell *matCellDef="let element">{{element[3]}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>
