<div class="centered">
    <mat-card  fxLayout="column" >
        
        <input  
        style="display: none;" 
        type ="file"
        (change)="onFileSelected($event)" 
        #fileInput
        >
        <button class="btn1" type="button" (click)="fileInput.click()">Upload</button>
        
    <br>
        <img [src]="url" fxLayoutAlign="stretch">
        
    </mat-card>
   
</div>


